@model IEnumerable<Schoolager.Web.Data.Entities.Grade>

@{
    ViewData["Title"] = "ShowAllStudentGrades";
}

<div class="container-fluid p-5">
    <div class="bg-white">
        <div class="px-3 p-3 d-flex justify-content-between align-items-center">
            @if(@Model.FirstOrDefault().Student.FullName != null)
            {
                <h1>Notas do Aluno @Model.FirstOrDefault().Student.FullName</h1>
            }
            else
            {
                <h1>Ainda não existem notas para este aluno.</h1>
            }
        </div>
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mark)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mark)
                        </td>     
                        <td>
                            @*<a asp-action="" asp-route-id="@item.Id">Notas</a>*@
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>