@model IEnumerable<Schoolager.Web.Data.Entities.Grade>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid p-5">
    <div class="bg-white">
        <div class="px-3 p-3 d-flex justify-content-between align-items-center">

            <h2>My Grades</h2>
        </div>
            <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstMark)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SecondMark)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ThirdMark)
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstMark)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondMark)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThirdMark)
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    </div>

</div>

