@model Schoolager.Web.Models.Turmas.AddTeacherToTurmaViewModel

<div class="container-fluid p-5">
    <div class="bg-white">
        <div class="px-3 p-3 d-flex justify-content-between align-items-center">
            <a asp-action="Index" asp-controller="Turmas" class="btn btn-outline-secondary">Back</a>
            <h2>@ViewData["TurmaName"]</h2>
            <a asp-action="TurmaSchedule" asp-controller="Lessons" asp-route-id="@ViewData["TurmaId"]" class="btn btn-outline-primary">Schedule</a>
        </div>
        <div class="px-3 pb-3">
            <form asp-action="AddTeachersToTurma" method="post">
                <input asp-for="TurmaId" value="@ViewData["TurmaId"]" type="hidden"/>

                <div class="mb-2">
                    <table class="table table-bordered table-hover" id="gradesTable">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Teacher</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(int i = 0; i < Model.SubjectTurmaViewModels.Count; i++)
                            {
                                <tr>
                                    <td class="align-middle">
                                        <input asp-for="@Model.SubjectTurmaViewModels[i].SubjectId" type="hidden"/>
                                        @Model.SubjectTurmaViewModels[i].Subject.Name
                                    </td>
                                    <td class="align-middle">
                                        <select asp-for="@Model.SubjectTurmaViewModels[i].TeacherId" class="form-control" asp-items="@Model.SubjectTurmaViewModels[i].Teachers"></select>
                                        <span asp-validation-for="@Model.SubjectTurmaViewModels[i].TeacherId"></span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="mb-2">
                    <button asp-action="AddTeachersToTurma" type="submit" value="Create" class="btn btn-outline-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
	    $(document).ready(function () {
           // Datatable
            let table = $("#gradesTable").DataTable({
                "columnDefs": [
                    { "width": "50%", "targets": 0 },
                ]
            });
	    });

    </script>
}