@using Schoolager.Web.Constants
@using Syncfusion.EJ2.Schedule
@model IEnumerable<Schoolager.Web.Data.Entities.Turma>

@{
    ViewData["Title"] = "Turmas";
}


<div class="container-fluid p-5">
    <div class="bg-white">
        <div class="p-3 d-flex justify-content-between align-items-center border-bottom">
            <a asp-action="Create" class="btn btn-outline-primary">New Turma</a>
            <h2>Turmas</h2>
        </div>
        <div class="px-3 pt-3">
            <flash dismissable="true"/>
        </div>
        <div class="p-3 table-responsive">
            <table class="table table-bordered table-hover" id="turmasTable">
                <thead>
                    <tr>
                        <th>Selected</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var turma in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => turma.Name)
                            </td>
                            <td class="align-middle">
                                <a asp-controller="Turmas" asp-action="AddSubjectsToTurma" asp-route-id="@turma.Id" class="btn btn-outline-dark">
                                    Subjects
                                    <i data-feather="book-open" stroke-width="1"></i>
                                </a>
                            </td>
                            <td class="align-middle">
                                <a asp-controller="Turmas" asp-action="AddStudents" asp-route-id="@turma.Id" class="btn btn-outline-dark">
                                    Students
                                    <i data-feather="book-open" stroke-width="1"></i>
                                </a>
                            </td>
                            <td class="align-middle">
                                <a asp-controller="Lessons" asp-action="TurmaSchedule" asp-route-id="@turma.Id" class="btn btn-outline-dark">
                                    Schedule
                                    <i data-feather="book-open" stroke-width="1"></i>
                                </a>
                            </td>
                            <td class="align-middle">
                                <a asp-controller="Turmas" asp-action="AddTeachersToTurma" asp-route-id="@turma.Id" class="btn btn-outline-dark">
                                    Teachers
                                    <i data-feather="book-open" stroke-width="1"></i>
                                </a>
                            </td>
                            <td class="align-middle">
                                <div class="d-flex flex-row" id="@turma.Id">
                                    <a asp-action="Edit" asp-route-id="@turma.Id" class="btn btn-outline-primary me-2">Edit
                                    <i data-feather="book-open" stroke-width="1"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="d-flex flex-row" id="@turma.Id">
                                    <a asp-action="Delete" asp-route-id="@turma.Id" class="btn btn-outline-danger" id="btnDeleteTurma">Delete
                                    <i data-feather="book-open" stroke-width="1"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteDialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border border-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteDialogLabel">Delete Turma?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Turma?
            </div>
            <div class="modal-footer">
                <button type="button" id="btnNoDelete" class="btn btn-outline-danger" data-bs-dismiss="modal">No</button>
                <button type="button" id="btnYesDelete" class="btn btn-outline-success">Yes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function() {
            let id = 0;

            // Delete
            $("a[id*=btnDeleteTurma]").click(function() {
                id = $(this).parent()[0].id;
                console.log($(this).parent()[0].id);
                $("#deleteDialog").modal("show");
                return false;
            });

            $("#btnNoDelete").click(function() {
                $("#deleteDialog").modal("hide");
                return false;
            });

            $("#btnYesDelete").click(function() {
                window.location.href = "/Turmas/Delete/" + id;
            });

            let table = $("#turmasTable").DataTable({
                "columnDefs": [
                    { "width": "1%", "targets": 1 },
                    { "width": "1%", "targets": 2 },
                    { "width": "1%", "targets": 3 },
                    { "width": "1%", "targets": 4 },
                    { "width": "1%", "targets": 5 },
                    { "width": "1%", "targets": 6 },
                    { "searchable": false, "targets": 1 },
                    { "searchable": false, "targets": 2 },
                    { "searchable": false, "targets": 3 },
                    { "searchable": false, "targets": 4 },
                    { "searchable": false, "targets": 5 },
                    { "searchable": false, "targets": 6 }
                ]
            });
        });
    </script>
}

@*
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
	    $(document).ready(function () {
            // Datatable
            let table = $("#turmasTable").DataTable({
                "columnDefs": [
                    { "width": "1%", "targets": 1 },
                    { "width": "1%", "targets": 2 },
                    { "width": "1%", "targets": 3 },
                    { "width": "1%", "targets": 4 },
                    { "width": "1%", "targets": 5 },
                    { "width": "1%", "targets": 6 },
                    { "searchable": false, "targets": 1 },
                    { "searchable": false, "targets": 2 },
                    { "searchable": false, "targets": 3 },
                    { "searchable": false, "targets": 4 },
                    { "searchable": false, "targets": 5 },
                    { "searchable": false, "targets": 6 }
                ]
            });
	    });

    </script>
}*@
