@model Schoolager.Web.Models.Lessons.LessonViewModel

@{
    ViewData["Title"] = "Edit";
}

<<div class="container-fluid p-5">
    <div class="bg-white">
        <div class="p-3 d-flex justify-content-between align-items-center border-bottom">
            <a asp-action="TurmaSchedule" asp-route-id="@ViewData["TurmaId"]" class="btn btn-outline-secondary">Back</a>
            <h2>@ViewData["TurmaName"]</h2>
            <h2>Edit Lesson</h2>
        </div>
        <div class="p-3 d-flex justify-content-center align-items-center w-100">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input asp-for="StartTime" type="hidden"/>
                <input asp-for="EndTime" type="hidden"/>
                <input asp-for="RecurrenceRule" type="hidden"/>
                <input asp-for="RecurrenceException" type="hidden"/>
                <input asp-for="SubjectName" type="hidden"/>
                <input asp-for="TurmaId" type="hidden"/>

                <div class="row mb-2">
                    <div class="col">
                        <label asp-for="SubjectId" class="control-label"></label>
                        <select asp-for="SubjectId" class ="form-control" asp-items="ViewBag.SubjectId"></select>
                        <span asp-validation-for="SubjectId" class="text-secondary"></span>
                    </div>
                    <div class="col">
                        <label asp-for="TeacherId" class="control-label"></label>
                        <select asp-for="TeacherId" class ="form-control">
                            <option value="0">< Select a teacher ></option>
                        </select>
                        <span asp-validation-for="SubjectId" class="text-secondary"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <label asp-for="RoomId" class="control-label"></label>
                        <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId">
                           <option value="0">< Select a room ></option>
                        </select>
                        <span asp-validation-for="RoomId" class="text-secondary"></span>
                    </div>
                    <div class="col">
                        <label asp-for="WeekDay" class="control-label"></label>
                        <select asp-for="WeekDay" class ="form-control">
                            <option value="0">< Select a weekday ></option>
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                        </select>
                        <span asp-validation-for="WeekDay" class="text-secondary"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input id="startTime" class="timepicker form-control" name="timepicker"/>
                        <input asp-for="StartTimeString" id="startTimeHidden" type="hidden"/>
                        <span asp-validation-for="StartTime" class="text-secondary"></span>
                    </div>
                    <div class="col">
                        <label asp-for="EndTime" class="control-label"></label>
                        <input id="endTime" class="timepicker form-control" name="timepicker"/>
                        <input asp-for="EndTimeString" id="endTimeHidden" type="hidden"/>
                        <span asp-validation-for="EndTime" class="text-secondary"></span>
                    </div>
                </div>

                <div class="mb-2">
                    <div class="d-grid gap-2 d-flex justify-content-between">
                        <div>
                            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
                        </div>
                        <div>
                            <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
                            <button asp-action="Edit" type="submit" value="Save" class="btn btn-outline-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
	    $(document).ready(function () {
            let turmaId = @ViewData["TurmaId"];
            let selectedDateString = '@ViewData["DateString"]';
            let startDate = '@ViewData["StartDate"]';
            let endDate = '@ViewData["EndDate"]';

            setDropdownTimes(startDate, endDate);

            GetTeacher();

            $("#SubjectId").change(function() {
                GetTeacher();
            });

            function GetTeacher(){
                console.log("I was called.");
                $("#TeacherId").empty();
                $.ajax({
                    url: '@Url.Action("GetTeachersBySubjectIdAsync","Teachers")',
                    type: 'POST',
                    dataType: 'json',
                    data:
                    {
                        subjectId: $("#SubjectId").val(),
                        turmaId: turmaId,
                    },
                    success: function(teacher) {
                        $("#TeacherId").append(`<option value="${teacher.id}">${teacher.fullName}</option>`);

                        //$.each(teachers, function (i, teacher) {
                        //                   console.log(teacher);
                        // $("#TeacherId").append('<option value="'
                        //  + teacher.id + '">'
                        //  + teacher.fullName + '</option>');
                        //});
                    },
                    error: function(ex) {
                        debugger;
                        alert('Failed to retrieve teachers.' + ex);
                    }
                });
                return false;
            }
	    });

    </script>

    <script type="text/javascript" src="~/js/lessonTimePickers.js"></script>
}

