@model Schoolager.Web.Models.Lessons.LessonDataViewModel
@{
    ViewData["Title"] = "LessonDataAbsences";
}

<div class="container-fluid p-5">
    <div class="bg-white">
        <div class="mb-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a asp-action="LessonDataSummary" asp-controller="Lessons" asp-route-id="@Model.Id" class="nav-link text-dark" >Summary</a>
                </li>
                <li class="nav-item">
                    <a asp-action="LessonDataAbsences" asp-controller="Lessons" asp-route-id="@Model.Id" class="nav-link text-dark active" aria-current="page">Absences</a>
                </li>
                <li class="nav-item">
                    <a asp-action="LessonDataResources" asp-controller="Lessons" asp-route-id="@Model.Id" class="nav-link text-dark">Resources</a>
                </li>
                <li class="nav-item">
                    <a asp-action="LessonDataHomework" asp-controller="Lessons" asp-route-id="@Model.Id" class="nav-link text-dark">Homework</a>
                </li>
            </ul>
        </div>
        <div class="mx-3">
            <form method="post">
                <input asp-for="Id" type="hidden"/>
                <input asp-for="LessonId" type="hidden"/>
                <div class="mb-2">
                    <table class="table table-bordered table-hover" id="tableAll">
                        <thead>
                            <tr>
                                <th>Selected</th>
                                <th>Nome</th>
                                <th>Date of Birth</th>
                                <th>Date of Birth</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Attendances.Count; i++)
                            {
                                <tr>
                                    <td class="align-middle">
                                        <div class="frame" style="background-image: url(@Url.Content(Model.Attendances[i].StudentViewModel.ImageFullPath))"></div>
                                    </td>
                                    <td class="align-middle">
                                        <input type="hidden" asp-for="@Model.Attendances[i].StudentId" value="@Model.Attendances[i].StudentViewModel.Id"/>
                                        @Model.Attendances[i].StudentViewModel.FullName
                                    </td>
                                    <td class="align-middle">
                                        @Model.Attendances[i].StudentViewModel.DateOfBirth.Value.ToShortDateString()
                                    </td>
                                    <td class="align-middle">
                                        <input asp-for="@Model.Attendances[i].WasPresent"/>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="mb-2">
                    <button asp-action="LessonDataAbsences" type="submit" class="btn btn-outline-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


