@model Schoolager.Web.Models.Lessons.LessonDataViewModel
@{
    ViewData["Title"] = "LessonDataAbsences";

    ViewData["Id"] = Model.Id;
}

<div class="container-fluid p-5">
    <div class="bg-white">
        <div class="mb-3">
            <partial name="_LessonDataNav" view-data="ViewData" />
        </div>
        <div class="mx-3">
            <form method="post">
                <input asp-for="Id" type="hidden"/>
                <input asp-for="LessonId" type="hidden"/>
                <div class="mb-2">
                    <table class="table table-bordered table-hover" id="tableAll">
                        <thead>
                            <tr>
                                <th>Selected</th>
                                <th>Nome</th>
                                <th>Date of Birth</th>
                                <th>Date of Birth</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Attendances.Count; i++)
                            {
                                <tr>
                                    <td class="align-middle">
                                        <div class="frame" style="background-image: url(@Url.Content(Model.Attendances[i].StudentViewModel.ImageFullPath))"></div>
                                    </td>
                                    <td class="align-middle">
                                        <input type="hidden" asp-for="@Model.Attendances[i].StudentId" value="@Model.Attendances[i].StudentViewModel.Id"/>
                                        @Model.Attendances[i].StudentViewModel.FullName
                                    </td>
                                    <td class="align-middle">
                                        @Model.Attendances[i].StudentViewModel.DateOfBirth.Value.ToShortDateString()
                                    </td>
                                    <td class="align-middle">
                                        <input asp-for="@Model.Attendances[i].WasPresent"/>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="mb-2">
                    <button asp-action="LessonDataAbsences" type="submit" class="btn btn-outline-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
	    $(document).ready(function () {
            $('#absences').addClass("active");
	    });
    </script>
}