@model Schoolager.Web.Models.Lessons.LessonDataViewModel
@{
    ViewData["Title"] = "LessonDataAbsences";
}

<div class="container-fluid p-5">
    <div class="bg-white">
        <div class="mb-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a asp-action="LessonData" asp-controller="Lessons" class="nav-link text-dark" >Summary</a>
                </li>
                <li class="nav-item">
                    <a asp-action="LessonDataAbsences" asp-controller="Lessons" asp-route-id="@Model.LessonId" class="nav-link text-dark active" aria-current="page">Absences</a>
                </li>
                <li class="nav-item">
                    <a asp-action="LessonDataResources" asp-controller="Lessons" asp-route-id="@Model.Id" class="nav-link text-dark">Resources</a>
                </li>
                <li class="nav-item">
                    <a  asp-action="LessonDataHomework" asp-controller="Lessons" asp-route-id="@Model.Id" class="nav-link text-dark">Homework</a>
                </li>
            </ul>
        </div>
        <div class="mx-3">
            <form>
                <table class="table table-bordered table-hover" id="tableAll">
                    <thead>
                        <tr>
                            <th>Selected</th>
                            <th>Nome</th>
                            <th>Date of Birth</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.Attendances)
                        {
                            <tr>
                                <td class="align-middle"><input type="checkbox" name="addSelected" /></td>
                                <td class="align-middle">@item.StudentViewModel.FullName</td>
                                <td class="align-middle">@item.StudentViewModel.DateOfBirth.Value.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>


